.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

    .description {
        width: 100%;
        
        p {
            width: 100%;
            text-align: justify;
        }
    }
}